<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body>
    <%- include('partials/header') %>
      <div class="container">
        <div class="row ">
          <div class="col-12 col-md-8 my-4 mx-auto">
            <div class="form-row d-flex justify-content-around">
              <div class="col-6">
                <a class="btn btn-outline-dark w-100" href="/genres/add">Agregar género</a>
              </div>
              <div class="col-6">
                <form class="row" action="/movies/search">
                  <div class="col-8">
                    <input type="text" class="form-control" placeholder="Buscar género..."
                      name="search" required>
                  </div>
                  <div class="col-4">
                    <button class="btn btn-outline-dark w-100" type="submit">Buscar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-8 mx-auto">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Ranking</th>
                  <th scope="col">Activo</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <% genres.forEach((genre,index) => { %>
                  <tr>
                    <th scope="row"><%= index + 1 %> </th>
                    <td><%= genre.name %> </td>
                    <td><%= genre.ranking %> </td>
                    <td><%= genre.active %> </td>
                    <td class="d-flex flex-column">
                      <div>
                        <a class="btn btn-sm btn-success my-1 w-100" href="/genres/show/<%= genre.id %>">Más info</a>
                      </div>
                      <div>
                        <form action="/genres/destroy/<%= genre.id %>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger my-1 w-100" type="submit">Eliminar</button>
                        </form>
                      </div>
                    </td>
                  </tr>
                <% }) %>
              </tbody>
              
            </table>
           
          </div>
        </div>
      </div>

      <%- include('partials/footer') %>
  </body>

</html>